.settings/
.project
.classpath
.perfs
*.code-workspace
.svn/
.idea/
.git/
.gradle/
tmp/
node_modules/
Pods/
build/
release/
*.log
*.hprof
.~*
.swp
.DS_Store
.DS_Store/
xcuserdata/
gen-code/
harmonyos/fitness/keystore/material/
